.form {
    background-color: rgb(11, 50, 77);
    max-width: 800px;
    padding: 30px;
    font-size: 25px;
    color: #ddd;
    margin: 0 auto;
    
    }

.form__title {
    font-weight: 700;
    text-decoration: underline;
}

.legend {
    background-color: hsl(205, 56%, 13%);
    padding: 20px;
    font-size: 30px;
    box-shadow: 2px 2px 2px rgba(0, 255, 0, 0.534);
    border-radius: 12px;
    width: 100%;
}

.result {
    background-color: #02110a;
    padding: 30px;
    color: #ddd;
    font-size: 35px;
    box-shadow: 1px 1px 1px red;
}

.form__button {
    background-image: url("../images/share.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    color: #360101;
    padding: 40px;
    width: 100%;
    font-size: 80px;
    text-shadow: -2px -2px 2px #d6e9d2;
    border-radius: 12px;
    border: none;
    box-shadow: 2px 2px 2px red;
}

.form__button:hover {
    box-shadow: 1px 1px 30px rgb(207, 248, 23);
    color: #ec0b0b;
    text-shadow: 1px 1px 15px #02020a;
}

.form__button:active {
    opacity: 40%;
}

.form__button--reset {
    padding: 20px;
}

.result {
    text-shadow: 3px 3px 12px rgb(32, 35, 206);
    border-radius: 12px;
}